html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 60px;
  transition: all 500ms ease;
}
/* ********************************************* */
/* ---------      NAV START           ---------- */
.navbar {
  background-color: #232324 !important;
}
.navbar-brand {
  font-family: "Nothing You Could Do", cursive;
  font-size: 40px;
}
a:hover {
  color: #c29510 !important;
}
.hr {
  height: 9px;
  background-color: #c29510;
}
/* ********************************************* */
/* --------        Index Page         ---------- */
.about-me-content {
  padding: 10px;
  margin-top: 10px;
}
.techstack {
  margin: auto;
  padding: 10px;
}

/* ********************************************* */
/* --------    Connect with Me        ---------- */
.connect-logo {
  height: 32px;
  width: 32px;
}
.p-4 {
  padding: 4px !important;
}
.connect-logo:hover {
  animation: bounce 1s;
}
#connectwithmediv {
  padding: 20px 15px 10px 15px;
}
/* ********************************************* */
/* --------       Contact Page        ---------- */
.contact-row {
  padding: 10px;
}
.contact-form {
  border: 1px solid #232324;
  padding: 10px;
  margin-top: 10px;
}
.bcard {
  text-align: center;
  padding: 10px;
  font-family: "Nothing You Could Do", cursive;
  border:2px solid #c29510;
  color: #c29510;
  background-color: #232324;
  margin-top: 10px;
}
/* ********************************************* */
/* --------           Footer          ---------- */
.footer {
  background-color: #232324;
  font-family: "Nothing You Could Do", cursive;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  margin-bottom: 0;
}
#footer {
  text-align: center;
}
.text-muted {
  background-color: #232324;
  color: #ffffff;
}
.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  padding-right: 0px;
  background-color: #c29510;
  bottom: 0;
}
/* ********************************************* */
/* --------       Portfolio Page      ---------- */
.card {
  /* background-color: #4aaaa5; */
  box-shadow: 10px 10px 5px grey;
  margin: 10px;
}
.card:hover {
  border: 3px solid #c29510;
  background-color: #c29510;
  opacity: 0.8;
  bottom: 4px;
  animation: bounce 1s;
}
.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}
/* ********************************************* */
/* --------         Resume Page       ---------- */
#resumediv {
  object-position: center;
}
/* ********************************************* */
/* --------       Animation      ---------- */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
